.pdf-viewer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.pdf-viewer__thumbnail,
.pdf-viewer__content {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.pdf-viewer__content {
  display: grid;
  gap: 24px 0;
  place-items: center;
}

.pdf-viewer__thumbnail {
  display: grid;
  row-gap: 24px;
  color: #fff;
  text-align: center;
}
