.pdf-viewer__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.pdf-viewer__modal {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  padding: 20px;
  overflow: auto;
  background-color: #4d4d4d;
  border-radius: 8px;
}

.pdf-viewer__body {
  display: grid;
  grid-template: auto / auto 1fr;
  gap: 0 24px;
}

.pdf-viewer__thumbnail,
.pdf-viewer__canvas {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.pdf-viewer__canvas {
  display: grid;
  gap: 24px 0;
  place-items: center;
}

.pdf-viewer__thumbnail {
  display: grid;
  row-gap: 24px;
  color: #fff;
  text-align: center;
}
