.pdf-viewer__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 28px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pdf-viewer__dialog {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 20px;
  overflow: hidden;
  background-color: #4d4d4d;
  border-radius: 8px;
}

.pdf-viewer__body {
  display: grid;
  grid-template: auto / auto 1fr;
  gap: 0 24px;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.pdf-viewer__thumbnail,
.pdf-viewer__canvas {
  overflow: scroll;
  overflow-x: hidden;
}

.pdf-viewer__canvas {
  display: grid;
  row-gap: 24px;
  justify-content: center;
}

.pdf-viewer__thumbnail {
  display: grid;
  row-gap: 24px;
  color: #fff;
  text-align: center;
}

.pdf-viewer__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 12px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
  border: none;
  outline: none;
  appearance: none;
}
